<!DOCTYPE <!DOCTYPE html>
<html>
<head>
</head>
    	<title> ABOUT</title>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css')}}">
</head>
<body background="{{ url_for('static', filename='jk.jpg') }}" style="background-size: cover;">
	<div class="back">
    	<h1> Welcome to Delta Hospital</h1>
    </div>
    <img src="{{url_for('static', filename='dh.png')}}" style="width: 8%; height: 20%; margin-left: 1%">
    <h2 style="margin-top: 0%">DELTA HOSPITAL</h2><br>
	<p>Delta Hospital provides general medical and surgical care for inpatient, outpatient, and emergency room patients, and participates in the Medicare and Medicaid programs.<br> The Services we provide include Diabetes Education, Diagnostic Radiology, Inpatient Surgery, Outpatient Surgery, Physical Therapy, Occupational Therapy, Intensive Care and much more...</p>

<h3>Delta Hospital is now a Tobacco Free Campus</h3>
<p>As an organization committed to the health of its employees and the community we serve, all Delta  Hospital properties are now tobacco free environments.<br> As of June 20, 2016, DH has officially put into place a tobacco free policy. This policy applies to all staff, visitors, vendors, patients and their families.<br> What this means is that there will be no smoking or chewing of tobacco properties within the facilities or property of DH.</p>
<h2>Milestone contributions from the Foundation:</h2>
<p>2017</p>
<p>-$10,150 to build DCMH West Elk Clinic Hotchkiss
-$24,000 in new equipment purchases</p>
<p>2016</p>
<p>-$10,000 CU Medical School’s Rural Track Program which helps bring a third year medical student to our community for a three month residency<br>
-$3,500 to the North Fork Ambulance<br>
-$2,370 for DCMH training and educational equipment
</p>
<p>2015</p>
<p>-$3,200 to the North Fork Ambulance</p>    
</body>
</html>
