<!DOCTYPE <!DOCTYPE html>
<html>
<head>
</head>
    	<title>SERVICES</title>
</head>
<body>


	<h2>Cardiac and Pulmonary Rehabilitation</h2>
	<p>The Cardiac and Pulmonary rehab department offers outpatient services for those with heart, lung and peripheral artery disease. Our mission is to improve the lives of our patients by instilling a greater sense of health, well-being and independence through a combined effort of exercise, education and support. </p>
	<p>What do these programs include?</p>
	<ul>
	<li>Monitored Exercise</li>
	<li>Individually Tailored Exercise Programs</li>
	<li>Medication Management</li>
	<li>Blood Pressure Management</li>
	<li>Tobacco Cessation</li>
	<li>Education</li>
	</ul>
</body>
</html>
	
	