<!DOCTYPE <!DOCTYPE html>
<html>
<head>
</head>
    	<title>CONTACT</title>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contact.css')}}">
	

</head>
<body background="{{ url_for('static', filename='d.jpg') }}" style="background-size: cover;">
	<div class="back">
    	<h1> Welcome to Delta Hospital</h1>
    </div>
    <img src="{{url_for('static', filename='dh.png')}}" style="width: 8%; height: 20%">
    <h3 style="margin-top: 0%">DELTA HOSPITAL</h3>
    <br>
	<h2>Contact Us</h2>
	<p>We want to hear from you! If you have any questions or comments concerning Delta County Memorial Hospital, our services or this website, please feel free to contact us.<br>A Patient Advocate works with patients and their family members to make certain they are satisfied with the services provided by DCMH. The advocate will handle your concerns in a respectful and confidential manner. <br>If you have concerns regarding services received as an inpatient, in the emergency department or in any of the clinics associated with Delta County Memorial Hospital, please contact the advocate. </p>
	<h2>Delta County Memorial Hospital</h2>
	<p>Opposite ashram school,</p>
	<p>DELTA HOPISTALS 533003</p>
	<h2>Phone:</h2>
	<p>9666340266</p>
	<h2>Fax:</h2>
	<p>(970) 874-2227 (Administration)</p>
	<h1>Email Us</h1>
	<p>deltahospitals12@gmail.com</p>
</body>
</html>
