<!DOCTYPE <!DOCTYPE html>
<html>
<head>
</head>
    	<title>SERVICES</title>
</head>
<body>

	<h2>Emergency Services</h2>
	<p>Emergency and Trauma Services are Open 24 Hours a Day, 7 Days a Week, 365 Days a Year to Serve Emergency Patients</p>
	<h3>What to Expect</h3>
	<p>At Delta County Memorial Hospital, our Emergency and Trauma department treat more than 14,000 patients a year. We are certified by the Colorado Department of Public Health and Environment as a Level IV Trauma Center and with our board certified emergency room physicians and specially trained registered nurses, we are ready to care for your emergency.</p>
	<div>
	<p>We know that when you arrive at our Emergency Department, you may be in pain and/or not feeling well at all. We make every effort to start your evaluation and treatment as soon as possible. Any patient with a life threatening illness or injury will be seen IMMEDIATELY. Please understand that it is our duty to take care of those with the most serious issues first.</p>
	</div>
 </body>
</html>


	