.<!DOCTYPE <!DOCTYPE html>
<html>
<head>
</head>
    	<title>SERVICES</title>
</head>
<body>
	<h2>DH Surgical Infection Rate Substantially Lower Than The National Surgical Infection Rate</h1>
	<p>In 2017, the Surgery Department maintained below industry standards for surgical site infection rates at 0.15 percent.</p>
	<br>
	<p>In comparison, the national surgical infection rate at many hospitals is estimated at 2.5% and the range nationally is from 3-5%. So what does that mean? This low infection rate translates into even higher levels of safe, quality, patient care for patients that have surgery at Delta County Memorial Hospital.</p>
	</br>
	<p>
Total of four digitally integrated, high-definition (4K) Operating Suites</p>
	<ul>
	<li>A dedicated Obstetrics Operating suite</li>
	<li>Two endoscopy suites for colonoscopies and EGDs</li>
	</ul>
</body>
</html>
	
	