<!DOCTYPE <!DOCTYPE html>
<html>
<head>
</head>
    	<title>SERVICES</title>
</head>
	

	<h2>Intensive Care Unit</h2>
	<br>
	<ul>
	

	<li><p>ICU has a total of six beds which are utilized for our ICU and step down patients. (Step down means when a patient is stepped down from ICU, but not ready to go to the Medical-Surgical Unit).</p></li>
	<li><p>The ICU staff monitor up to 15 remote telemetries through a central monitoring systems for patients on the medical surgical floor</p></li>
	<li><p>ICU Clinical staff encourages visits by family and friends to promote healing and family involvement in our patient care.</p></li>
	<li><p>The ICU is staffed with experienced Registered Nurses (RNs), Respiratory Therapists and Telemetry Technicians/Certified Nurse Assistants (CNAs).<p></li>
	<li><p>The ICU Medical Director is Marcella Abuid, MD who is trained as a specialist Pulmonogist/Intensivist.</p></li>
	<li><p>The ICU offers a multi-disciplinary approach (RN, MD, Respiratory Therapy, Dieticians, Physical Therapy) to provide high quality medical care to ICU patients.</p></li>
	
	</ul>
	</div>
</body>
</html>
	
	

	

