<!DOCTYPE>
<html>
<head>
	<title>Login From</title>
	<!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}">
</head>
<body>
<div class="container">
	<div class="heading">
		<h2 style="color: black">Login</h2>
	</div>
		<div class="center">
			<form method="post" action="">
					{{ form.hidden_tag() }}
				<fieldset>
					<div class="data">
						{{ form.email.label }}
						{% if form.email.errors %}
						{{ form.email (class="form-control form-control-lg is-inavalid")}}
						<div class="invalid">
							{% for errors in form.email.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
						{% else %}
						{{ form.email(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					<div class="data">
						{{ form.password.label }}
						{% if form.password.errors %}
						{{ form.password (class="form-control form-control-lg is-inavalid")}}
						<div class="invalid">
							{% for errors in form.password.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
						{% else %}
						{{ form.password(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					<div class="data">
						<div class="form-check">
						{{ form.remember(class="form-check-input")}}
						{{ form.remember.label(class="form-check-label")}}
					</div>
					</div>
				</fieldset>
					<div class="data">
						{{ form.submit(class="btn btn-outline-info") }}
					</div>
					<div class="data">
					<small class="text-muted ml-2">
						<a href="#">Forgot Password?</a>
					</small>
				</div>
			</form>
		</div>
</div>
<div class="center">
	<small>
		Need account? <a href="{{ url_for('register') }}">Sign up</a>
	</small>
	<div class="data">
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% for category, message in messages %}
		<div class="alert alert-{{ category }}">
			{{ message }}
		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
	</div>
</div>
</body>
</html>
