<!DOCTYPE html>
<html>
<head>
</head>
    	<title>SERVICES</title>
</head>
<body>
	<h2>Medical Imaging</h2>
	<p>At Delta Count Memorial Hospital, we are proud to house state-of-the-art medical imaging equipment to give you the tools to make responsible, knowledgeable decisions about your health. Our caring and highly trained staff will be with you every step of the way to make your imaging experience as pleasant and accurate as possible. At DCMH, we are FDA/MQSA certified and continue to invest in new technologies to provide you with the highest level of imaging.</p>
	<h3>Our Department is Proud to offer:</h3>
	<ul>
	<li>3-D Mammography</li>
	<li>Bone Density Scans</li>
	<li>Nuclear Medicine</li>
	<li>Magnetic Resonance Imaging (MRI)</li>
	<li>Computerized Tomography</li>
	<li>Positron Emission tomography</li>
	<li>Ultrasound</li>
	<li>Fluoroscopy</li>
	</ul>
</body>
</html>
	
	