<!DOCTYPE <!DOCTYPE html>
<html>
<head>
</head>
    	<title>TIMINGS</title>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='openinghours.css')}}">
</head>
<body background="{{ url_for('static', filename='i.jpg') }}" style="background-size: cover;">
	<div class="back">
    	<h1> Welcome to Delta Hospital</h1>
    </div>
    <img src="{{url_for('static', filename='dh.png')}}" style="width: 8%; height: 20%">
    <h3 style="margin-top: 0%">DELTA HOSPITAL</h3>
    <br>
	<h3>OPENING HOURS- 24 HRS</h3><br>
	<table border ="1">
		<tr>
			<th>Day</th>
			<th colspan="4">Doctors</th>
			
		</tr>
		<tr>
			<td></td>
			<td>Douglas</td>
			<td>Hugher</td>
			<td>Patrick</td>
			<td>Christopher</td>
		</tr>
		<tr>
			
			<td>Monday</td>
			<td>05:00AM</td>
			<td>11:00AM</td>
			<td>05:00PM</td>
			<td>11:00PM</td>
		</tr>
		<tr>
			
			<td>Tuesday</td>
			<td>05:00AM</td>
			<td>11:00AM</td>
			<td>05:00PM</td>
			<td>11:00PM</td>
		</tr>
		<tr>
			
			<td>Wednesday</td>
			<td>05:00AM</td>
			<td>11:00AM</td>
			<td>05:00PM</td>
			<td>11:00PM</td>
		</tr>
		<tr>
			
			<td>Thursday</td>
			<td>11:00AM</td>
			<td>05:00PM</td>
			<td>11:00PM</td>
			<td>05:00AM</td>
		</tr>
		<tr>
			
			<td>Friday</td>
			<td>11:00AM</td>
			<td>05:00PM</td>
			<td>11:00PM</td>
			<td>05:00AM</td>
		</tr>
		<tr>
			
			<td>Saturday</td>
			<td>11:00AM</td>
			<td>05:00PM</td>
			<td>11:00PM</td>
			<td>05:00AM</td>
		</tr>
		<tr>
			
			<td>Sunday</td>
			<td>11:00PM</td>
			<td>11:00AM</td>
			<td>05:00AM</td>
			<td>05:00PM</td>
		</tr>
	</table>
</body>
</html>
